h2 {
  font-size: 25px;
  position: absolute;
  left: 82px;
}

.axis {
  font-family: arial;
  font-size: 0.6em;
}

path {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.tick {
	fill: none;
	stroke: black;
}

p {
	position: absolute;
	top:118px;
	color: gray;
}

.normal {
	left: 82px;
    width: 175px;
    top: 135px;
    position: absolute;
    color: white;
    text-align: center;
    background: #FFBFBF;
}

.overweight {
	left: 270px;
    width: 175px;
    top: 135px;
    position: absolute;
    color: white;
    text-align: center;
    background: #FF0000;
}
.obese {
	left:460px;
	width: 100px;
    top: 135px;
    position: absolute;
    color: white;
    text-align: center;
    background: #551C1C;
}
circle {
	opacity: 0.6;
	stroke: none;
}

.line_plot {
	fill: none;
	stroke: #4eb0bb;
	stroke-width: 1px;
}

svg {
	position: absolute;
	top:90px;
}
div.hand_buttons {
	position: absolute;
	left: 58px;
	top: 70px;
}

div.hand_buttons div {
	font-family: arial;
	display: inline;
	padding: 5px;
	margin: 24px;
}

div.bmi_buttons {
	position: absolute;
	left: 75px;
	top: 105px;
}

div.bmi_buttons div {
	font-family: arial;
	display: inline;
	padding: 3px;
	margin: 7px;
}


.average{
   stroke-dasharray: 5,5; 
}
