h2 {
  color: black;
  text-align: center;
  font-size:30px;
}

.axis {
  font-family: arial;
  font-size: 0.6em;
}

path {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}

.tick {
	fill: none;
	stroke: black;
}

circle {
	opacity: 0.4;
	stroke: none;
}

.line_plot {
	fill: none;
	stroke: #4eb0bb;
	stroke-width: 1px;
}

div.hand_buttons {
	position:absolute;
	left:82px;
	top:10px;
}

div.hand_buttons div {
	font-family: arial;
	
	padding: 3px;
	margin: 7px;
}